{# templates/equipement/show.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Détails de l'Équipement{% endblock %}

{% block body %}
<div class="container mt-5">
    <h1 class="mb-4 text-center text-info">Détails de l'Équipement</h1>

    <div class="card shadow-sm">
        <div class="card-body">
            <ul class="list-group list-group-flush">
                <li class="list-group-item"><strong>Code Inventaire:</strong> {{ equipement.codeInventaire }}</li>
                <li class="list-group-item"><strong>Nom:</strong> {{ equipement.nom }}</li>
                <li class="list-group-item"><strong>Marque:</strong> {{ equipement.marque }}</li>
                <li class="list-group-item"><strong>Modèle:</strong> {{ equipement.modele }}</li>
                <li class="list-group-item"><strong>Numéro de Série:</strong> {{ equipement.numeroSerie }}</li>
                <li class="list-group-item"><strong>Catégorie:</strong> {{ equipement.categorie }}</li>
                <li class="list-group-item"><strong>Date d'Achat:</strong> {{ equipement.dateAchat ? equipement.dateAchat|date('d/m/Y') : '' }}</li>
                <li class="list-group-item"><strong>Prix:</strong> {{ equipement.prix }} €</li>
                <li class="list-group-item"><strong>Fin de Garantie:</strong> {{ equipement.garantieFin ? equipement.garantieFin|date('d/m/Y') : '' }}</li>
                <li class="list-group-item"><strong>État:</strong> {{ equipement.etat }}</li>
                <li class="list-group-item"><strong>Commentaire:</strong> {{ equipement.commentaire }}</li>
            </ul>

            <div class="d-flex justify-content-center gap-3 mt-4">
                <a href="{{ path('app_equipement_edit', {'id': equipement.id}) }}" class="btn btn-outline-secondary">Modifier</a>
                {% include 'equipement/_delete_form.html.twig' %}
            </div>

            <div class="mt-3 text-center">
                <a href="{{ path('app_equipement_index') }}" class="btn btn-secondary">Retour à la liste</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
